{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h2 class="title-1">Your Projects : {{ prenom }}</h2>
                <button id="addProject" data-toggle="modal" data-target="#exampleModal" class="au-btn au-btn-icon au-btn--blue">
                    <i class="zmdi zmdi-plus"></i>add project</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">New message</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Recipient:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Message:</label>
							<textarea class="form-control" id="message-text"></textarea>
						</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Send message</button>
					</div>
					</div>
				</div>
				</div>
            </div>
        </div>
    </div>
	<br></br>




	<div>
        <div class="container">
	<div class="row">

	<div class="col-lg-12">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" />
	<h3>Site Web</h3>
	<p>Développement Web</p>
	</div>
	
	<div class="team-back">
	<span>
        <button class="au-btn au-btn-icon au-btn--green btn-project"><i class="zmdi zmdi-edit"></i></button>
	</span>
    <span>
        <button class="au-btn au-btn-icon au-btn--blue btn-project"><i class="zmdi zmdi-open-in-browser"></i></button>
	</span>
    <span>
        <button class="au-btn au-btn-icon au-btn--red btn-project"><i class="zmdi zmdi-delete"></i></button>
	</span>
	</div>
	
	</div>
	</div>


	<div class="col-lg-12">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/336699/fff?text=Dilip" class="img-fluid" />
	<h3>Application Mobile</h3>
	<p>Développement Mobile</p>
	</div>
	
	<div class="team-back">
	<span>
        <button class="au-btn au-btn-icon au-btn--green btn-project"><i class="zmdi zmdi-edit"></i></button>
	</span>
    <span>
        <button class="au-btn au-btn-icon au-btn--blue btn-project"><i class="zmdi zmdi-open-in-browser"></i></button>
	</span>
    <span>
        <button class="au-btn au-btn-icon au-btn--red btn-project"><i class="zmdi zmdi-delete"></i></button>
	</span>
	</div>
	
	</div>
	</div>

	<div class="col-lg-12">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/607d8b/fff?text=Dilip" class="img-fluid" />
	<h3>Bootstrap Project</h3>
	<p>Intégration</p>
	</div>
	
	<div class="team-back">
	<span>
        <button class="au-btn au-btn-icon au-btn--green btn-project"><i class="zmdi zmdi-edit"></i></button>
	</span>
    <span>
        <button class="au-btn au-btn-icon au-btn--blue btn-project"><i class="zmdi zmdi-open-in-browser"></i></button>
	</span>
    <span>
        <button class="au-btn au-btn-icon au-btn--red btn-project"><i class="zmdi zmdi-delete"></i></button>
	</span>
	</div>
	
	</div>
	</div>

	
	
	</div>
	</div>
    </div>
	

{% endblock %}
