{% extends 'base.html.twig' %}

{% block body_log %}
<div class="limiter">
<div class="container-login100">
  <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
    <form class="login100-form validate-form flex-sb flex-w" action="" method="post">
      <span class="login100-form-title p-b-32"><center>Genos</center></span>

      <span class="txt1 p-b-11">Email</span>
      <div class="wrap-input100 validate-input m-b-36" data-validate = "Email is required">
        <input class="input100" type="text" name="_username" value="" required>
        <span class="focus-input100"></span>
      </div>

      <div class="flex-sb-m w-full p-b-48">
      <div class="container-login100-form-btn">
        <input type="submit" class="login100-form-btn" value="New Password"/>
      </div>
        <div>
          <a href="{{ path('login') }}" class="txt3">Login</a>
        </div>
      </div>

    </form>
  </div>
</div>
</div>


<div id="dropDownSelect1"></div>
{% endblock %}
