{% extends 'base.html.twig' %}

{% block body_log %}
<div class="limiter">
<div class="container-login100">
  <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
    <form class="login100-form validate-form flex-sb flex-w" action="{{ path('login') }}" method="post">
      <span class="login100-form-title p-b-32"><center>Genos</center></span>

      <span class="txt1 p-b-11">Email</span>
      <div class="wrap-input100 validate-input m-b-36" data-validate = "Email is required">
        <input class="input100" type="text" name="_username" value="{{ email }}" required>
        <span class="focus-input100"></span>
      </div>

      <span class="txt1 p-b-11">Password</span>
      <div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
        <span class="btn-show-pass"><i class="fa fa-eye"></i></span>
        <input class="input100" type="password" name="_password" required>
        <span class="focus-input100"></span>
      </div>

      <div class="flex-sb-m w-full p-b-48">
        <div class="contact100-form-checkbox">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" value="{{ path('home') }}">
          <label class="label-checkbox100" for="ckb1">Remember me</label>
        </div>
        <div>
          <a href="{{ path('forgot-pass') }}" class="txt3">Forgot Password?</a>
        </div>
      </div>

      <div class="flex-sb-m w-full p-b-48">
        <div class="contact100-form-checkbox">
          <input type="submit" class="login100-form-btn" value="Login"/>
        </div>
        <div>
          {% if error %}
            <div class="alert alert-danger error_login txt3" role="alert" >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
        </div>
      </div>

    </form>
  </div>
</div>
</div>


<div id="dropDownSelect1"></div>
{% endblock %}
