{% extends 'base.html.twig' %}

{% block body_log %}
{{ form_start(form) }}
{{ form_row(form._token) }}

<div class="limiter">
<div class="container-login100">
  <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
    <form class="login100-form validate-form flex-sb flex-w" action="{{ path('login') }}" method="post">
      <span class="login100-form-title p-b-32"><center>Genos</center></span>


      <span class="txt1 p-b-11">Nom</span>
      <div class="wrap-input100 validate-input m-b-36" data-validate = "Nom is required">
        {{ form_widget(form.nom , {'attr': {'class': 'input100'}}) }}
        <span class="focus-input100"></span>
      </div>

      <span class="txt1 p-b-11">Prenom</span>
      <div class="wrap-input100 validate-input m-b-12" data-validate = "Prénom is required">
        {{ form_widget(form.prenom , {'attr': {'class': 'input100'}}) }}
        <span class="focus-input100"></span>
      </div>

      <span class="txt1 p-b-11">Email</span>
      <div class="wrap-input100 validate-input m-b-12" data-validate = "Email is required">
        {{ form_widget(form.email , {'attr': {'class': 'input100'}}) }}
        <span class="focus-input100"></span>
      </div>

      <span class="txt1 p-b-11">Password</span>
      <div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
        <span class="btn-show-pass"><i class="fa fa-eye"></i></span>
        {{ form_widget(form.plainPassword.first , {'attr': {'class': 'input100'}}) }}
        <span class="focus-input100"></span>
      </div>

      <span class="txt1 p-b-11"> Repeat Password</span>
      <div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
        <span class="btn-show-pass"><i class="fa fa-eye"></i></span>
        {{ form_widget(form.plainPassword.second , {'attr': {'class': 'input100'}}) }}
        <span class="focus-input100"></span>
      </div>

      <div class="flex-sb-m w-full p-b-48">
        <div class="contact100-form-checkbox">
          {{ form_widget(form.groups , {'attr': {'class': 'input-checkbox100'}}) }}
        </div>
        </div>

      <div class="container-login100-form-btn">
        <input type="submit" class="login100-form-btn" value="Inscription"/>
      </div>

    </form>
  </div>
</div>
</div>
{{ form_end(form) }}

<div id="dropDownSelect1"></div>
{% endblock %}
